[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
retroarcher         = { path = "./", editable = true }
colorama            = '*'
frontdoor           = '*'
Jinja2              = '*'
typing              = '*'

[dev-packages]
retroarcher-tests   = { path = "./scripts", editable = true }
black               = '*'
coverage            = '*'
flake8              = '*'
flake8-bugbear      = '*'
mypy                = '*'
pep8-naming         = '*'
pytest              = '*'

